<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zooly Education</title>

    <link rel="stylesheet" href="/css/style.css">

    <% if (page === "home") { %>
        <link rel="stylesheet" href="/css/home.css">
    <% } %>

    <% if (page === "turmas") { %>
        <link rel="stylesheet" href="/css/turmas.css">
    <% } %>

    <% if (page === "alunos") { %>
        <link rel="stylesheet" href="/css/alunos.css">
    <% } %>

    <% if (page === "atividades") { %>
        <link rel="stylesheet" href="/css/atividades.css">
    <% } %>

    <% if (page === "desempenho") { %>
        <link rel="stylesheet" href="/css/desempenho.css">
    <% } %>

    <% if (page === "configuracoes") { %>
        <link rel="stylesheet" href="/css/configuracoes.css">
    <% } %>    

    <link rel="stylesheet" href="/css/responsive.css">

    <script src="https://unpkg.com/lucide@latest"></script>
</head>